{
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "printWidth": 100,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "experimentalTernaries": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true,
  "proseWrap": "preserve",
  "insertPragma": false,
  "requirePragma": false,
  "tabWidth": 2,
  "embeddedLanguageFormatting": "auto"
}