---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import SectionContainer from '../components/SectionContainer.astro'
import GlassContainer from '../components/GlassContainer.astro'
import Experience from '../components/Experience.astro'
import StrongPointsContainer from '../components/StrongPointsContainer.astro'
import AboutMe from '../components/AboutMe.astro'
---

<Layout
	title="Porfolio de Ilia - Desarrollador y Programador Web con 2 años de experiencia"
	description="Contrata a Ilia para crear tu aplicación web o móvil. Desarrollador Web.">
	<main>
		<SectionContainer
			id="inicio"
			className="py-16 md:py-36">
			<Hero />
		</SectionContainer>
		<div class="space-y-24">
			<SectionContainer id="puntos-fuertes">
				<GlassContainer>
					<StrongPointsContainer />
				</GlassContainer>
			</SectionContainer>
			<SectionContainer id="experiencia">
				<GlassContainer
					><h2 class="relative mb-16 inline-block text-3xl font-semibold">
						Experiencia laboral<span class="absolute -right-3 bottom-0 text-5xl text-pink-500"
							>.</span
						>
					</h2>
					<Experience />
				</GlassContainer>
			</SectionContainer>
			<SectionContainer id="sobre-mi">
				<GlassContainer>
					<div class="mb-16">
						<h2 class="relative inline-block text-3xl font-semibold">
							Sobre mí<span class="absolute -right-3 bottom-0 text-5xl text-pink-500">.</span>
						</h2>
					</div>
					<AboutMe />
				</GlassContainer>
			</SectionContainer>
		</div>
	</main></Layout
>
