---
import { Image } from 'astro:assets'

import handIllustration from '../assets/hand-illustration.webp'
const edad = new Date().getFullYear() - 2001
---

<div class="max-w-lg space-y-4 text-pretty text-gray-800 lg:max-w-xl xl:max-w-2xl">
	<p>
		Me llamo Ilia Maquilón Pérez y tengo {edad} años. Estudié un <strong class="text-pink-500"
			>Grado Superior de Desarrollo de Aplicaciones Web</strong
		>. Desde los 16 años me encanta desarrollar páginas webs con mi toque personal e investigar cómo
		se hacen o que diseños usan las empresas TOP del mercado.
	</p>
	<div class="align-text-center grid gap-8 md:grid-cols-2">
		<div class="space-y-4">
			<p>
				Siempre me han gustado mucho los videojuegos y es por ello que empecé a indagar cómo se
				construían aquellos juegos a los cuales adoraba.
			</p>
			<p>
				Mientras estudiaba, ayudé a mis compañeros a comprender los conceptos de programación y
				diseño web.
			</p>
		</div>
		<blockquote class="mb-3">
			<p class="text-2xl font-semibold text-gray-900 italic">
				"Ilia es un gran profesional con un talento innato para la programación. Es un placer
				trabajar con él."
			</p>
		</blockquote>
	</div>
	<p>
		Poseo una <strong class="text-pink-500">sólida habilidad en programación</strong>, respaldada
		por mi experiencia y los elogios de mis colegas y mentores.
	</p>
	<Image
		loading="eager"
		class="absolute right-8 -bottom-4 hidden lg:block lg:w-1/4"
		src={handIllustration}
		alt="Hand illustration"
	/>
</div>
