---
import TechnologyBadge from './TechnologyBadge.astro'

interface Props {
	title: string
	company: string
	description: string
	time: string
	tech: any[]
	hidePoint?: boolean
}

const { title, company, description, time, tech, hidePoint: showPoint } = Astro.props
---

<div class="grid text-pretty md:grid-cols-3">
	<div>
		<div>
			<div class="mb-2 flex items-center">
				<div>
					<div
						class:list={showPoint ? 'hidden' : 'block'}
						class="absolute -start-1.5 -mt-1.5 h-3 w-3 rounded-full border border-white bg-pink-500">
					</div>
				</div>
				<div>
					<h3 class="text-xl font-bold text-pink-500">
						{title}
					</h3>
					{company && <h4 class="text-xl font-semibold text-gray-600">{company}</h4>}
				</div>
			</div>
			<div class="mb-2 space-y-2">
				<time class="text-sm font-normal leading-none text-gray-400">{time}</time>
				{
					tech && (
						<div class="-ml-2 flex flex-wrap items-center gap-2">
							{tech.map((tech) => (
								<TechnologyBadge {...tech} />
							))}
						</div>
					)
				}
			</div>
		</div>
	</div>
	<div class="md:col-span-2">
		<p class="mb-4 max-w-lg text-base font-normal text-gray-600">
			{description}
		</p>
	</div>
</div>
