<footer
	class="px-auto container m-4 mx-auto mb-10 mt-16 flex w-full justify-end space-x-4 px-8 text-sm font-medium text-gray-600 opacity-80 md:max-w-2xl lg:max-w-6xl lg:px-12"
>
	<a class="hover:underline" href="mailto:iliaqui.pe@gmail.com">Contacto</a>
	<a class="hover:underline" href="#inicio">Volver arriba</a>
</footer>
