---
import { Image } from 'astro:assets'
import ExecumateImage from '../assets/execumate2.webp'
import Tailwind from '../icons/Tailwind.astro'
import Link from '../icons/Link.astro'
import GithubOutline from '../icons/GithubOutline.astro'
import AstroIcon from '../icons/AstroIcon.astro'
import TechnologyBadge from './TechnologyBadge.astro'
import ActionButton from './ActionButton.astro'

const PROJECTS = [
	{
		name: 'ExecuMate - Una extensi칩n de Visual Studio Code',
		description:
			'ExecuMate es una extensi칩n de Visual Studio Code que ayuda a los usuarios a tener un mejor control sobre la terminal y a lanzar comandos repetitivos m치s facilmente gracias a su interfaz visual.',
		image: ExecumateImage,
		tech: [
			{ name: 'Astro', className: 'bg-[#953600]/25 text-white', Icon: AstroIcon },
			{
				name: 'Tailwind CSS',
				className: 'bg-[#2bb1ec]/50 text-white',
				Icon: Tailwind
			}
		],
		links: [
			{
				action: 'C칩digo',
				url: 'https://github.com/ilmaqui/vscode-execumate',
				Icon: GithubOutline
			},
			{
				action: 'Demo',
				url: 'https://execumate.vercel.app/',
				Icon: Link
			}
		]
	}
]
---

<section class="mx-auto md:container md:max-w-2xl lg:max-w-4xl xl:max-w-6xl">
	{
		PROJECTS.map((project) => (
			<article class="group relative min-h-min w-full overflow-hidden rounded-xl shadow-2xl">
				<Image
					loading="eager"
					class="w-full scale-110 object-contain brightness-75 transition duration-500 ease-in-out group-hover:brightness-50 md:group-hover:scale-105"
					src={project.image}
					alt={project.name}
				/>
				<div class="absolute bottom-0 grid w-full grid-cols-3 p-4 backdrop-blur-xs">
					<div class="col-span-2 flex flex-col justify-end  transition-all duration-300 group-hover:-translate-y-12 ">
						<h3 class="text-2xl font-bold text-gray-200">{project.name}</h3>
						<p class="mb-4 max-w-2xl text-pretty text-gray-400">{project.description}</p>
						<div class="flex flex-wrap items-center gap-2">
							{project.tech.map((tech) => (
								<TechnologyBadge {...tech} />
							))}
						</div>
					</div>
					<div class="flex items-end justify-end">
						<h3 class="bg-[radial-gradient(142%_91%_at_-6%_74%,var(--color-gray-400)_1%,#fff_100%)] bg-clip-text text-8xl font-extrabold text-transparent">
							01
						</h3>
					</div>
					<div class="duration-400 absolute bottom-0 translate-y-full p-4 opacity-0 transition duration-500 group-hover:translate-y-0 group-hover:opacity-100">
						<footer class="flex gap-2">
							{project.links && project.links.map((link) => <ActionButton {...link} />)}
						</footer>
					</div>
				</div>
			</article>
		))
	}
</section>
