---
interface Props {
	className?: string
	id: string
}

const { className, id } = Astro.props
---

<section
	id={id}
	class:list={[
		'container-fluid relative mx-auto flex w-full scroll-m-24 items-center md:container md:max-w-2xl lg:max-w-4xl xl:max-w-6xl',
		className
	]}>
	<slot />
</section>
